#app {
    background: #fff;
}
[data-theme=dark] #app{
    background: #18171d;
}
#comment{
    position: relative;
    width: 768px;
}
@media screen and (max-width:768px) {
    #comment{
        width: 100%;
    }
}